body{
    background-image: url("../image/white-clouds-against-bright-blue-sky-change-clear-sunny-weather-to-cloudy-wallpaper-news-forecast-clearing-202338536.jpg");
    background-size: cover;
}
.fc{
    float:left;
    width: calc(25% - 30px);
    background-color: rgba(40, 40, 201, 0.5);
    margin: 15px;
    padding: 15px;
    border-radius: 6px;
    color: #d7d7c4;
    height: 130px;
}

.fc img {
    transform: translate(100px,-80px);
}